{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lamp Mode
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for key, mode in modes %}
      <a class="dropdown-item" id="{{key}}-link" href="javascript:modeform('{{key}}', '#mode-form');">{{mode}}</a>
      {% endfor %}
  </div>
</div>


<span id="mode-form">
    {% if form %}
    {% include '_mode_form.html' %}
    {% endif %}
</span>

{% endblock %}

{% block scripts %}
<script>
    function modeform(name, destElem) {
        // $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
        $.post('/modeform', {data: name,
        }).done(function(response) {$(destElem).html(response['html'])
        }).fail(function() {$(destElem).text("{{ _('Error: Could not contact server.') }}");});
    }
</script>
{% endblock %}
